name: GitHub Actions Demo

on: 
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
    inputs:
      environment:
        description: 'env'
        type: environment
        required: true
    
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Job was triggered by ev: ${{ github.event_name }}
          echo "branch: ${{ github.ref }}

      - uses: actions/checkout@v6

      - name: list files
        run: |
          echo "repo ${{ github.repository }} files:"
          tree
  Test:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    needs: Build
    environment: Test
    steps:
      - run: |
          echo "testing..."

  Load-Test:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    needs: Build
    environment: Load-Test
    steps:
      - run: |
          echo "load testing..."
          sleep 15
  
  Production:
    runs-on: ubuntu-latest
    if: github.event.inputs.environment == 'Production'
    needs: [Test, Load-Test]
    environment: 
      name: Production
      url: https://writeabout.net
    steps:
      - run: |
          echo "step 1..."
          sleep 10
      - run: |
          echo "step 2..."
          sleep 10
      - run: |
          echo "step 3..."
          sleep 10


  
  
